<h2>Shopliste</h2>

<table data-toggle="table" data-cache="false" data-url="/json/shop" data-sort-name="name">
  <thead>
    <tr>
      <th data-field="name" data-align="left" data-sortable="true">Name</th>
      <th data-field="products"               data-sortable="true">Bekannte Produkte</th>
    </tr>
  </thead>
</table>